<!DOCTYPE html>
<html>
  <head>
    <link href="/../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/../Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Palindrome CheckerE</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Palindrome Checker</h1>
      <img src="../Content/css/weirdAl.jpg" alt="a picture of Weird Al">
    </div>
    <div class="container">
      <h2>See if your word, phrase, or number is a palindrome:</h2><br>

        <form action="/result" method="post">
          <label for="string">Try Now!</label>
          <input type="text" name="string" class="form-control">
          <button type="submit" class="thisbutton btn btn-info">SUBMIT</button>
        </form>

    </div>
  </body>
</html>
